<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheApiAwakens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D21A9C8F1E27D0D700141CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21A9CA31E27D0D700141CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21A9CAE1E27D0D700141CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
